# build output
dist
app/renderer
target
bin/cli.*

# dependencies
node_modules

# logs
npm-debug.log
yarn-error.log

# optional dev config file and plugins directory
.hyper.js
.hyper_plugins

.DS_Store
.vscode/*
!.vscode/launch.json
.idea
