nav {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  color: #9B9B9B;
  cursor: default;
  -webkit-user-select: none;
}

.single {
  text-align: center;
  color: #fff;
}

.tabs {
  border-bottom: 1px solid #333;
  max-height: 28px;
  display: flex;
  flex-flow: row;
}

.tabs li:first-child {
  margin-left: 70px;
}

.tabs li {
  list-style-type: none;
  flex-grow: 1;
  text-align: center;
  position: relative;
}

.tabs li.is_active {
  color: #fff;
}

.tabs li span {
  transition: color .2s ease;
  display: block;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.tabs li.is_active span {
  border-left-color: #333;
  border-right-color: #333;
}

.tabs li.is_active:last-child span {
  border-right-color: transparent;
}

.tabs li.is_active::before {
  position: absolute;
  content: ' ';
  border-bottom: 1px solid #000;
  display: block;
  left: 1px;
  right: 1px;
  bottom: -1px;
}

.tabs li:not(.is_active):hover span {
  color: #ccc;
}

.tabs li.has_activity, .tabs li.has_activity:hover {
  color: #50E3C2;
}

/* The close button */

.tabs li i {
  transition: opacity .2s ease,
              color .2s ease,
              transform .25s ease,
              background-color .1s ease;
  pointer-events: none;
  position: absolute;
  right: 7px;
  top: 7px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  color: #e9e9e9;
  opacity: 0;
  transform: scale(.95);
}

.tabs li:hover i {
  opacity: 1;
  transform: none;
  pointer-events: all;
}

.tabs li i:hover {
  background-color: rgba(255,255,255, .13);
  color: #fff;
}

.tabs li i:active {
  background-color: rgba(255,255,255, .1);
  color: #909090;
}

.tabs li i .icon {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 6px;
  height: 6px;
}
