* {
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
  box-sizing: border-box;
}

body, html {
  background: #000;
  color: #ccc;
  font: 12px Menlo, "DejaVu Sans Mono", "Lucida Console", monospace;
}

#header {
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 10000;
  display: flex;
  transition: all 0.3s ease;
  transition-property: transform, opacity;
}

#header span {
  color: #999;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#header a {
  color: #999;
  text-decoration: none;
}

#header a img {
  height: 16px;
  margin-left: 6px;
  margin-right: 4px;
}

#header a:hover {
  color: #FF2E88;
}

#header a.download-link {
  color: #FF2E88;
}

#header.hidden {
  transform: translateY(-35px);
  opacity: 0;
}

#logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 50px 0 40px;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  z-index: 1000;
}

#logo img {
  display: block;
  margin: 0 auto 10px;
}

#logo .title, #logo .subtitle {
  padding: 3px 0;
}

#logo .title {
  font-size: 16px;
}

#logo .title b {
  font-weight: 500;
}

#logo .subtitle {
  color: #9B9B9B;
}

#top {
  height: 100vh;
  width: 100vw;
  position: relative;
  text-align: center;
  max-width: 100%;
}

#top .top-content {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation-name: arrow-appear;
  animation-delay: 2s;
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.top-download {
  position: relative;
  bottom: 75px;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.download-button {
  background: #50E3C2;
  color: #494949;
  height: 42px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: background .12s ease-in-out;
}

.download-button:hover {
  background: #72EBD0;
}

.download-button svg {
  color: #2EAA8F;
}

.download-button svg#fallback-icon {
  margin-left: 10px;
}

.download-button svg:not(#fallback-icon) {
  margin-right: 10px;
}

.download-button strong {
  color: #000000;
}

#arrow {
  position: absolute;
  left: 50%;
  margin-left: -9px;
  bottom: 20px;
}

@keyframes arrow-appear {
  from {
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes arrow-video-finish {
  from {
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}


#video {
  height: 100vh;
  bottom: 0;
  width: 100%;
  position: absolute;
}

#video video {
  height: 100%;
  width: 100%;
}

#loading:before {
  content: 'Loading...';
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  right: 0;
  color: #666;
  opacity: 0;
  animation-name: appear;
  animation-delay: 2s;
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#poster {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#poster img {
  margin: auto;
}

#content {
  max-width: 800px;
  margin: auto;
}

#content a, .other-downloads a {
  color: #FF2E88;
  text-decoration: none;
  border-bottom: 1px solid #FF2E88;
}

#content a:hover, .other-downloads a:hover {
  background: #FF2E88;
  color: #fff;
}

#content h2, #content h3 {
  font-size: 12px;
  font-weight: bold;
  color: #ccc;
  margin: 0 0 30px 0;
  padding-top: 30px;
}

#content h2 a, #content h3 a {
  color: #ccc;
  border-bottom-width: 0;
}

#content p {
  margin: 0 0 20px;
  line-height: 18px;
}

#content h2:before {
  content: '## ';
}

#content h3:before {
  content: '### ';
}

#content h4:before {
  content: '#### ';
}

#content code {
  font: 12px Menlo, "DejaVu Sans Mono", "Lucida Console", monospace;
}

#content p code, #content li code, #content td code {
  color: #fff;
}

#content p code:before, #content p code:after,
#content td code:before, #content td code:after,
#content li code:before, #content li code:after {
  content: '`';
}

#content pre {
  margin: 30px;
  color: #50E3C2;
  line-height: 18px;
}

#content table thead td {
  color: #999;
  font-size: 10px;
}

#content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#content td > table {
  margin: 0;
}

#content table td {
  vertical-align: top;
  border: 1px solid #444;
  line-height: 15px;
  position: relative;
}

#content table td.highlighted:after {
  position: absolute;
  content: "";
  border: 1px solid #50E3C2;
  width: 100%;
  height: 100%;
  top: -1px;
  left: -1px;
  pointer-events: none;
}

#content table td.invisible-top-left {
  border-top: 0;
  border-left: 0;
}

#content #installation-table a {
  border-bottom: none;
  display: block;
  padding: 10px;
  transition: color 0.3s ease;
}

#content #installation-table a:hover {
  background: none;
  color: #50E3C2;
}

#content #installation-table td:not(:first-child) {
  text-align: center;
}

#content #installation-table td:not(.highlighted) img {
  opacity: 0;
  transition: opacity 0.3s ease;
}

#content #installation-table td a:hover img {
  opacity: 1;
}

#content #installation-table td.highlighted a {
  color: #50E3C2;
}

#content #installation-table {
  color: #FFF;
}

#content #installation-table td[id^="td"] {
  padding: 0;
}

#content #installation-table img {
  width: 17px;
  height: 13px;
}

#content td.soon {
  color: #555;
}

#content td {
  padding: 10px;
}

#content table.config td:nth-child(2) {
  width: 30%;
  color: #999;
}

#content table.config tbody td:first-child {
  color: #fff;
}

#content table.api tbody td:first-child {
  color: #fff;
}

#content table.api > tbody > tr > td:nth-child(2) {
  width: 13%;
}

#content table.api tbody tbody td:first-child {
  width: 20%;
}

#content td > p:first-child {
  margin-top: 0;
}

#content ul {
  margin: 20px 10px;
}

#content ul li {
  list-style-type: none;
  line-height: 18px;
  margin: 5px 0;
  padding-left: 20px;
}

#content ul li:before {
  content: '-';
  color: #999;
  position: absolute;
  margin-left: -20px;
}

#content p b {
  color: #fff;
}

@media screen and (max-height: 500px) {
  .title {
    display: none;
  }
}

@media screen and (max-height: 550px) {
  .title span {
    display: none !important;
  }
}

@media screen and (max-height: 650px) {
  #logo img {
    height: 50px;
    width: auto;
    padding: 0;
    margin-top: 0;
  }
}

@media screen and (max-height: 700px) {
  #logo {
    padding: 30px 0 0;
  }
}

@media screen and (max-width: 800px) {
  #content table {
    margin-left: 0;
    margin-right: 0;
  }
  #download-for {
    display: none !important;
  }
  #header {
    width:300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  #header {
    text-align: center;
    padding: 20px 0;
    position: static;
  }

  #video video {
    display: none;
  }

  #video {
    background: no-repeat center url('https://cdn.zeit.co/hyper/hyperapp.gif');
    background-size: 100%;
    height: 100vh;
  }

  #content {
    padding: 20px;
  }


  pre {
    white-space:pre-wrap; word-wrap:break-word; overflow:auto;
  }

  #content table {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

  #content table td {
    width: 50% !important;
  }

  #content table td:nth-child(3) {
    display: none;
  }

  #content .table-note:after {
    margin: 15px 0;
    content: "Please note: the complete table information is available in bigger resolutions!";
    display: block;
    color: #999;
  }

  #content img {
    max-width: 100%;
    height: auto;
  }

  #arrow {
    display: none;
  }
}

.is-hidden {
  display: none;
}